<script id="tmplCadastro" type="text/x-jquery-tmpl">
    <h2>${Titulo}</h2>

    <div>
        <input type="button" id="btnCadastroInserir" value="Inserir" />
        <input type="button" id="btnCadastroAlterar" value="Alterar" />
        <input type="button" id="btnCadastroExcluir" value="Excluir" />
        <input type="button" id="btnCadastroSalvar" value="Salvar" />
        <input type="button" id="btnCadastroCancelar" value="Cancelar" />
    </div>

    <section id="cadastro"></section>

    <table id="gridCadastro"></table>
</script>