<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>

        <!--Testes-->
        <!--<add name="BancoDados" connectionString="metadata=res://*/BD.BancoDados.csdl|res://*/BD.BancoDados.ssdl|res://*/BD.BancoDados.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Aurum;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->

        <!--Produção-->
        <add name="BancoDados" connectionString="metadata=res://*/BD.BancoDados.csdl|res://*/BD.BancoDados.ssdl|res://*/BD.BancoDados.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=notepaty\Versao_2008;Initial Catalog=Aurum;User Id=sa;Password=;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

    </connectionStrings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>