<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings configSource="Web.ConnectionStrings.config" />

    <appSettings>
        <add key="Meses_MesesAntesDepois" value="4" />
    </appSettings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <pages>
            <controls>
                <add assembly="Aurum.Web.Controles" namespace="Aurum.Web.Controles" tagPrefix="aurum" />
                <add tagPrefix="act" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
            </controls>
        </pages>
        <authorization>
            <deny users="?" />
        </authorization>
        <authentication mode="Forms">
            <forms defaultUrl="~/" loginUrl="~/login.aspx" timeout="30" />
        </authentication>
    </system.web>
</configuration>