<!--<h2>Summary</h2>-->

<!--<div fxLayout="row">
    <mat-card fxFlex="50">
        <mat-card-content>
            <div>conta 1</div>
            <div>conta 2</div>
            <div>conta 3</div>
        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="40" fxFlexOffset="10">
        <mat-card-content>
            <div>filtro de</div>
            <div>filtro para</div>
        </mat-card-content>
    </mat-card>
</div>-->

<!--<mat-card>-->
<mat-card class="extrato">
    <table>

        <tbody *ngFor="let day of days">
            <tr class="inicio-dia">
                <td class="cabecalho data">{{day.date | date:'shortDate'}}</td>
                <td class="titulo-saldo">Saldo inicial</td>
                <td class="cabecalho valor positivo">R$ -</td>
                <td rowspan="4" class="botao-adicionar">
                    <button mat-icon-button aria-label="Adicionar" (click)="add(day.date)">
                        <mat-icon>add_box</mat-icon>
                    </button>
                </td>
            </tr>
            <tr *ngFor="let transaction of day.transactions">
                <td colspan="2">{{transaction.description}}</td>
                <td class="valor {{transaction.type > 0 ? 'positivo' : 'negativo'}}">{{transaction.value | currency}}</td>
            </tr>
            <tr class="final-dia">
                <td colspan="2" class="titulo-saldo">Saldo final</td>
                <td class="cabecalho valor {{day.balance > 0 ? 'positivo' : 'negativo'}}">{{day.balance | currency}}</td>
            </tr>
        </tbody>
    </table>
</mat-card>

<mat-card>

    <mat-list>
        <mat-list-item *ngFor="let item of list | async">
            <mat-icon matListIcon (click)="delete(item)">delete_forever</mat-icon>
            <a (click)="edit(item)" matLine>{{item.id}} - {{item.date | date:'shortDate'}} - {{item.description}} -
                {{item.value * item.type | currency}}</a>
        </mat-list-item>
    </mat-list>

</mat-card>