
<md-card>
    <md-card-title>Cartões</md-card-title>
    <md-card-subtitle>Lista de Cartões cadastrados</md-card-subtitle>

    <md-card-content>
        <md-nav-list *ngIf="lista && lista.length">
            <a md-list-item *ngFor="let cartao of lista" (click)="editar(cartao)">
                <md-icon md-list-icon>mode_edit</md-icon>
                {{cartao.Descricao}}
                
                <button md-icon-button class="excluir" (click)="excluir(cartao); $event.stopPropagation()">
                    <md-icon>delete_forever</md-icon>
                </button>
            </a>
        </md-nav-list>
    </md-card-content>
</md-card>

<span class="fab-container">
    <button md-fab (click)="editar({})">
        <md-icon>add</md-icon>
    </button>
</span>
