<form (ngSubmit)="onSubmit()" #formContas="ngForm">
    <md-spinner class="bloqueia-form" [class.exibe]="salvando"></md-spinner>

    <h1 md-dialog-title>{{conta.Id ? "Alterar" : "Adicionar" }} Conta</h1>

    <md-dialog-content fxLayout="column">
        <md-input-container>
            <input mdInput name="descricao" [(ngModel)]="conta.Descricao"
                placeholder="Descrição" required maxlength="50">
        </md-input-container>
        <md-radio-group name="tipo" [(ngModel)]="conta.Tipo">
            <label>Tipo:</label>
            <md-radio-button value="1">Conta Corrente</md-radio-button>
            <md-radio-button value="2">Conta Poupança</md-radio-button>
        </md-radio-group>
        <md-input-container>
            <input mdInput name="agenciaConta" [(ngModel)]="conta.AgenciaConta"
                placeholder="Agência/Conta">
        </md-input-container>
    </md-dialog-content>

    <md-dialog-actions>
        <button md-button md-dialog-close>Cancelar</button>
        <button md-raised-button type="submit" [disabled]="!formContas.form.valid">Salvar</button>
    </md-dialog-actions>
</form>
