<connectionStrings>

    <!-- Local / Desenvolvimento -->
    <add name="BancoDados"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.\sql2008;Initial Catalog=Aurum_Desenv;Persist Security Info=True;User ID=sa;Password=@1b2c3d4;MultipleActiveResultSets=True"/>

    <!-- "Produção" -->
    <!--<add name="BancoDados"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=notepaty2;Initial Catalog=Aurum;Persist Security Info=True;User ID=sa;Password=@1b2c3d4;MultipleActiveResultSets=True"/>-->

</connectionStrings>